@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
    @apply right-0 border-green-400;
}

.toggle-checkbox:checked + .toggle-label {
    @apply bg-green-400;
}

.ck-editor__editable {
    min-height: 200px;
}

.choices__inner {
    background-color: #fff;
    border-radius: 0.375rem;
}

.choices__input:focus {
    @apply border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm
}

.choices__list--multiple .choices__item {
    background-color: #00bcd4;
    border: 1px solid #00a5bb;

    @apply bg-gray-800 dark:bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150
}
